[submodule "skalibs"]
	path = skalibs
	url = git://github.com/akerl/skalibs
[submodule "execline"]
	path = execline
	url = git://github.com/akerl/execline
[submodule "s6"]
	path = s6
	url = git://github.com/akerl/s6
